<!--
canvas size calculation:
container width = 700
canvas border = 15
canvas width = 700 - 15 * 2 = 670
-->
<section>
  <%= render '/refinery/content_page' %>
</section>
<section class="home-page__header <%= @should_render_canvas ? 'has-canvas' : '' %>">
  <% if @should_render_canvas then %>
    <canvas height="670" width="670" id="home-page__header__canvas"></canvas>
  <% end %>
  <ul class="home-page__header__nav">
    <li><a href="/about-me">About</a></li>
    <li><a href="/engineering">Software Engineering</a></li>
    <li><a href="/">Photography</a></li>
  </ul>
  <%= render partial: 'social-follow', locals: { class_name: 'home-page__header__social' } %>
</section>
<section>
  <% @blog_posts.each do |post| %>
    <div class="header__divider"></div>
    <div class="header__pubdate">
      <%= time_tag post.updated_at.to_date %>
    </div>
    <a href="<%= "/#{post.slug}" %>">
      <h3 class="home-page__river__headline"><%= post.title %></h3>
    </a>
    <p class="home-page__river__dek"><%= post.meta_description %></p>
  <% end %>
</section>
<% if @should_render_canvas then %>
  <%= javascript_include_tag 'homepage-canvas' %>
<% end %>
