<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <%= render "/refinery/javascripts" %>
    <%= stylesheet_link_tag 'vendor/prism' %>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
  </head>
  <body id="<%= canonical_id @page %>" class="<%= view_template_class @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <main id="page" role="main">
        <%= yield %>
      </main>
      <footer role="contentinfo">
        <%= render "/refinery/footer" -%>
      </footer>
      <%= javascript_include_tag "vendor/prism" %>
    </div>
  </body>
</html>
